<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="http://api.scholarbarter.com:8080/api/AddBookListing" method="post">
        <input type="hidden" name="sessionKey" value="ABCDEFG1234567"/>
        <input type="hidden" name="UserId" value="1"/>

        Title: <input type="text" name="Title" size="50" /><br/>
        
        ISBN-10: <input type="text" name="Isbn10" size="10" maxlength="10" /><br/>
        
        Price: $<input type="text" name="Price" size="7"/><br />

        <select name="Condition">
            <option value="As New">As New</option>
            <option value="Fine">Fine</option>
            <option value="Very Good">Very Good</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
            <option value="Poor">Poor</option>
        </select>

        Description<br />
        <textarea name="Description" rows="4" cols="50"></textarea><br />

        <input type="submit" value="Add"/>
    </form>
</body>
</html>
